.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.DS_Store
fruits360
/_site/

# Local Netlify folder
.netlify

404.html
guides/keras/my_model.data-00000-of-00001
guides/keras/my_model.index
guides/keras/logs/
/_packages
examples/creditcardfraud.zip
examples/fraud_model_at*
examples/creditcard.csv
examples/aclImdb/
examples/aclImdb_v1.tar.gz
examples/best_model.h5
