mymodel_1
mymodel_2
ckpt
~
checkpoint
ckpt-1.data-00000-of-00001
ckpt-1.index
ckpt.data-00000-of-00001
ckpt.index
custom_layer-1.data-00000-of-00001
custom_layer-1.index
my_h5_model.h5
my_model
pretrained_ckpt.data-00000-of-00001
pretrained_ckpt.index
pretrained_weights.h5
weights.h5
